<style>
.educator {
  padding-left: 2rem;
  margin-bottom: 1rem;
}
.educator .title {
  display: flex;
  justify-content: space-between;
}
.educator .title .dates {
  font-size: .85rem;
  color: #777;
}
</style>

<div id=experience>
<h2>Courses</h2>
{{ range .Courses }}
<div class=educator>

<div class=title>
  <div><strong>{{.Title}}</strong></div>
  <div class=dates>{{.Started}} - {{if .Stopped}}{{.Stopped}}{{else}}Present{{end}}</div>
</div>
<div class=entity>{{.Entity}} <span class=loc>({{.Location}})</span></div>
</div>

<ul class=deets>
{{ range .Details }}
<li class=deet>{{- . -}}</li>
{{end}}
</ul>

</div>
{{end}}
